DATABASE_URL=postgresql://postgres.cudkhlxonwikjkbsvyjp:pixel-pioneers2026@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
SECRET_KEY=pixel-pioneers2026
JWT_SECRET_KEY=another-very-long-random-jwt-secret-here
FLASK_ENV=development
FLASK_APP=run.py
